*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
  scroll-behaviour: smooth;
}

.navbar{
  background: #fff;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 1.2em;
  position: sticky;
  top:0;
  z-index: 999;
}

.navbar-container{
  display: flex;
  justify-content: speace-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 50px;
}

#navbar-logo{
  padding-left: 6em;
  background-image: 
}


.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item{
  height: 80px;
}

.navbar-links{
  color:#000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-decoration: none;
  height: 100%;
}

.navbar-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: -5em;
  height: 100%;
  width: 100%;
  background: coral;
  color: #000;
  transition: all 0.3s ease;
  }

/* Affordances to let user know these are links */
.navbar-links:hover{
  text-decoration: underline;
}

/*mobile friendly drop menu - making things accessible on smaller screens*/
@media screen and (max-width: 960px) {
  .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
/*mobile drop menu*/
.navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    top: -1000px;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
}
/*hamburger menu background*/
.navbar-menu.active{
  background: #fff;
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 80vh;
  font-size: 0.8em;
}

#navbar-logo{
  padding-left: 25px;
}

/*hamburger menu icon*/
.navbar-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background: #000000;
}

.navbar-item{
  width: 100%;
}

.navbar-links{
  text-align: center;
  padding: 0em 10em 0em 0em;
  width: 100%;
  display: table;
}

.navbar-btn{
  padding: 0em 10em 0em 0em;
  padding-bottom: 2em;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin:0;
}

#mobile-menu{
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
}

/*display hamburger menu icon*/
.navbar-toggle .bar {
  display: block;
  cursor: pointer;
}

/*hamburger icon change to exit icon */
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0; 
  }
#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  }
#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); 
  }
}

/* Hero Section */

.hero{
  /* gradient added to background to help see words clearer*/
  background: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.1)),
  url('forest.cpr.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-heading{
  /* background: url('forest.jpg');; */
  padding: 70px 0px 20px 0px;
  color: #fff;
  font-size: clamp(10px, 8vw, 4em);
}

 .hero-description{ 
  /* background:url('forest.jpg'); */
  padding: 0px 0px 20px 0px;
  color:#fff;
  font-size: clamp(1rem, 4vw 2.5rem);
  margin-bottom: 3rem;
 }

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

/* donate button on main page */
.main-btn{
  padding: 1rem 3rem;
  border: none;
  background: coral;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
  text-decoration: none;
  border-radius: 4px;
}

.main-btn:hover {
  background:#000
}

/*About Section*/
.main {
  background-color: #fff;
  padding: 10rem 0;
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}



