*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
  scroll-behaviour: smooth;
}

/* Navigation Bar */
.navbar{
  background: #fff;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 1.2em;
  position: sticky;
  top:0;
  z-index: 999;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 50px;
}

#navbar-logo{
  padding-left: 6em;
}


.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item{
  height: 80px;
}

.navbar-links{
  color:#000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
}

.navbar-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: coral;
  color: #000;
  transition: all 0.3s ease;
  }

.button:hover{
  cursor: pointer;
  background:#000;
  transform:scale(1.075);
}


/* underline used as an affordance to let user know these are links */
.navbar-links:hover{
  text-decoration: underline;
}

/*mobile friendly drop menu - making things accessible on smaller screens*/
@media screen and (max-width: 960px) {
  .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
/*mobile drop menu*/
.navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    top: -1000px;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
}
/*hamburger menu background*/
.navbar-menu.active{
  background: #fff;
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 80vh;
  font-size: 0.8em;
}

#navbar-logo{
  padding-left: 25px;
}

/*hamburger menu icon*/
.navbar-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background: #000000;
}

.navbar-item{
  width: 100%;
}

.navbar-links{
  text-align: center;
  padding: 0em 10em 0em 0em;
  width: 100%;
  display: table;
}

.navbar-btn{
  padding: 0em 0em 0em 0em;
  padding-bottom: 2em;
  text-decoration: none;

}


.button{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 80px;
  height: 30px;
  margin: 0px 0px 30px 65px
}

.button:hover{
cursor: pointer;
  background:#000;
  transform:scale(1.075);
}


#mobile-menu{
  position: absolute;
  top: 5%;
  right: 3%;
  transform: translate(5%, 20%);
}

/*display hamburger menu icon*/
.navbar-toggle .bar {
  display: block;
  cursor: pointer;
}

/*hamburger icon change to exit icon */
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0; 
  }
#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  }
#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); 
  }
}

/* About Page Section */

.hero{
  /* gradient added to background to help see words clearer*/
  background: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.1)),
  url('forest.cpr.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-heading{
  padding: 70px 0px 20px 0px;
  color: #fff;
  font-size: clamp(10px, 8vw, 4em);
}

 .hero-description{ 
  padding: 0px 0px 20px 0px;
  color:#fff;
  font-size: clamp(1rem, 4vw 2.5rem);
  margin-bottom: 3rem;
 }

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

/* donate button on main page */
.main-btn{
  padding: 1rem 3rem;
  border: none;
  background: coral;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
  text-decoration: none;
  border-radius: 4px;
}

.main-btn:hover {
  background:#000
}

/*About Section*/
.main {
  background-color: #fff;
  padding: 10rem 0;
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main-content{
  color: #000;
  width: 100%;
}

.main-content h1{
  font-size: 2em;
  margin-bottom: 32px;
}

.main-content h2{
  margin-bottom: 20px;
}

.main-content p{
  font-size: clamp(1em, 4vw 2.5rem);
  margin-bottom: 20px;
}

.view-btn{
  font-size: 1em;
  background: cadetblue;
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2em;
  cursor: pointer; /* affordances - a link*/
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main-img--card{
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.chart-img{
  height: 300px;
  width: 375px;
  
}

/*mobile responsive 'About Us' page*/
@media screen and (max-width: 1100px){
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

 .main-img--container{
   display: flex;
   justify-content: center;
  }

  .main-img--card{
    height: 425px;
    width: 425px;
  }

  .main-content{
    text-align: center;
    margin-bottom: 4rem;
  }

  .main-content h1{
    font-size: 2.5em;
    margin-top: 2em;
  }

  .main-content h2{
    font-size: 1.5em;
  }

  .main-content p{
    margin-top: 1rem;
    font-size: 1em;
  }
}
  
  /* Projects Section */
.projects{
  /*background: #fff;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.projects h1{
  margin-bottom: 5rem;
  font-size: 2.5em;
}

.projects-wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.projects-card{
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction:column;
  justify-content:center;
  color: #000;
  background-color:blanchedalmond;
  background-image: ;
  transition: 0.3s ease-in;
}

.projects-card h2{
  text-align: center;
}

.projects-card p{
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.projects-btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.projects-card button{
  color:#fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color:blueviolet;
  font-size: 1rem;
}

.projects-card button:hover{
  cursor: pointer;
  background:#000;
  transform:scale(1.075);

}

/* affordances created using scale animation */
.projects-card:hover{
  transform:scale(1.075);
  transition: 0.5s ease in;
  cursor: pointer;
}

/* mobile friendly 'Current Projects' page */
@media screen and (max-width: 1300px){
  .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
/* smaller mobile friendly 'Current Projects' page */
@media screen and (max-width: 768px){
  .projects-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Footer Section CSS */
.footer-container{
  background-color: #fff;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-logo{
  color: #131313;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer-links{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper{
  display: flex;
}

.footer-link-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2{
  margin-bottom: 16px;
  color: #000;
}

.footer-link-items a{
  color: #000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  text-decoration: underline;
  transition: 0.3s ease-out;
}


/* mobile responsive footer section */
@media screen and (max-width: 820px){
  .footer-links{
    padding-top: 2rem;
}

#footer-logo{
  margin-button: 2rem;
}

.footer-link-wrapper{
  flex-direction: column;
}
}

/* mobile responsive footer section for even smaller screens */
@media screen and (max-width: 480px){
  .footer-link-items{
    margin: 20px;
    width: 100%;
  }
}





